/* About page styling */

section {
  scroll-margin-top: 60px;
  margin: 3vh 0;
}

section h2 {
  text-align: center;
}

.p-container {
  margin: 5vh 5vw;
  font-family: "Quintessential";
  font-size: larger;
}

#maps {
  width: 80vw;
  height: 60vh;
}

.grid-container,
.grid-container-small {
  display: grid;
  padding-top: 20px;
}

.grid-container {
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid-container-small {
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.grid-item,
.grid-item-small {
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: var(--primary-color);
  border-radius: 5px;
  line-height: 1.5em;
}

.grid-item {
  text-align: justify;
  border: 2px solid var(--tertiary-color);
  padding: 0 20px 20px;
}

.grid-item-small {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 10px 10px;
}

.grid-item-small img {
  width: 70%;
  height: 70%;
  object-fit: scale-down;
}

.grid-item:hover,
.grid-item-small:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

h3 span {
  background: linear-gradient(
    0deg,
    var(--accent-color-1),
    var(--accent-color-2)
  );
  color: transparent;
  background-clip: text;
}

.vert-container{
  display: flex;
  padding: 10px 0;
}

.vert {
  flex: 1;
  width: 50%;
  margin: 0 10px 20px;
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
  padding: 20px;
}

.vert p {
  padding: 0 20px;
}
