/* Form styling */

textarea:focus,
input:focus {
  outline: none;
}

label {
  font-weight: 500;
  text-align: left;
}

input,
textarea,
select,
button[type="submit"],
.remove-row {
  font-family: "Fira Sans" !important;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  margin: 5px 0 10px;
  box-sizing: border-box;
  font-size: medium;
  background-color: #00000000;
  transition: background-color 0.3s;
}

input:focus,
textarea:focus,
select:focus,
button[type="submit"]:focus,
.remove-row:focus {
  outline: 1px solid var(--tertiary-color);
  background-color: #ffffff;
}

input[type="checkbox"] {
  width: auto;
}

button[type="submit"],
.remove-row {
  margin-top: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

button[type="submit"] {
  background-color: var(--accent-color-3);
}

.remove-row {
  background-color: var(--accent-color-1);
}

button[type="submit"]:hover,
button[type="submit"]:focus,
.remove-row:hover,
.remove-row:focus {
  background-color: var(--accent-color-2);
  color: #000000;
}
