/* Form styling */

label {
    font-weight: 500;
    text-align: left;
}

input {
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    margin: 5px 0 10px;
    box-sizing: border-box;
    font-size: medium;
}

input[type=submit] {
    margin-top: 1rem;
    font-family: inherit;
    font-weight: 500;
}

/* input[type=text], input[type=password] {
} */