/* Home page styling */

/* video background */
.video-background {
  position: relative;
  overflow: hidden;
}

#video-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video-background p {
  font-size: 2em;
  z-index: 1;
  margin: 0;
  font-family: "Fira Mono";
}
/* video background end */

/* cursor */
.cursor {
  display: inline-block;
  width: 8px;
  height: 1.8em;
  background-color: #ffffff;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* cursor end */
