/* Styling for any element that appears on more than 1 page */

@import url("fonts.css");
@import url("color-scheme.css");
@import url("contact.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-family: "Fira Sans", sans-serif;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 50px;
}

.main-links a,
.section-links a {
  color: var(--white);
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
  background: var(--accent-gradient-90dg);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s cubic-bezier(0.25, 1, 0.5, 1), color 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  padding: 15px 0;
}

.main-links a:hover,
.main-links a:active,
.main-links a:focus,
.section-links a:hover,
.section-links a:active,
.section-links a:focus {
  background-size: 100% 3px;
  color: var(--tertiary-color);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 15px;
}

.hamburger .close-icon {
  display: none;
}
/* navbar end */

h1 {
  background: var(--accent-gradient-90dg);
  background-size: 100% 3px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

p {
  line-height: 1.8em;
}

.nf {
  background: var(--accent-gradient-90dg);
  color: transparent;
  background-clip: text;
}

.img-container {
  width: 100vw;
  height: 50vh;
  margin-bottom: 20px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content {
  max-width: 1200px;
}

.content,
.content-home {
  margin-top: 50px;
  background-color: var(--primary-color);
  padding: 0 15px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.content-wrapper {
  padding: 0;
  margin-bottom: 50px;
  display: flex;
  flex: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content-center {
  justify-content: center;
}

footer {
  padding: 40px;
  background-image: url("../assets/img/zaiskri-bg.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  text-align: center;
}

/* motto text */
#first-line,
#second-line {
  font-size: 2em;
  font-weight: 600;
}

#first-line {
  color: var(--white);
}

#second-line {
  --bg-size: 400%;
  background: linear-gradient(
      90deg,
      var(--accent-color-1),
      var(--accent-color-2),
      var(--accent-color-1)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  #second-line {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
/* motto text end */

hr {
  color: var(--light-gray);
  width: 100%;
}

.error-message {
  color: #ff0000;
}

.success-message {
  color: #009000;
}

/* content animation */
@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-item {
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 0.6s, transform 0.6s;
}

.animated-item.visible {
  animation: fadeInFromBottom 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.animated-item.h1-visible {
  animation: fadeInFromTop 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.animated-links {
  opacity: 0;
  transform: translateX(75px);
  transition: opacity 0.6s, transform 0.6s;
}

.animated-links.visible {
  animation: fadeInFromRight 1s cubic-bezier(0.69, -0.9, 0.32, 1.8) forwards;
}
/* content animation end */

@media screen and (max-width: 450px) {
  .content {
    padding: 0 5px 5px;
  }
}

@media screen and (max-width: 600px) {
  .section-links {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .hamburger {
    display: block;
  }

  .hamburger .open-icon {
    display: block;
    animation: fadeIn 0.3s;
  }

  .hamburger.active .open-icon {
    display: none;
    animation: fadeOut 0.3s;
  }

  .hamburger.active .close-icon {
    display: block;
    animation: fadeIn 0.3s;
  }

  .main-links {
    display: none;
    flex-direction: column;
    background-color: var(--secondary-color);
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
  }

  .main-links a {
    padding: 15px 0;
  }

  .main-links.active {
    display: flex;
    animation: fadeIn 0.3s;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    max-width: 100%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
