@import url('fonts.css');

html, body {
    margin: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    font-family: "Fira Sans";
}

body {
    display: flex;
    flex-direction: column;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e4a41;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.main-links a, .section-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
    background: linear-gradient(to right, #f45925, #f9b11f);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
}
  
.main-links a:hover, .section-links a:hover {
    background-size: 100% 3px;
    color: #babbbd;
}
/* navbar end */

h1 {
    background: linear-gradient(to right, #f45925, #f9b11f);
    background-size: 100% 3px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.content {
    background-color: #f7f5f3;
    padding: 2.5% 5%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    scroll-margin-top: 60px;
}

footer {
    height: 15vh;
    padding: 20px;
    background-image: url('/assets/img/zaiskri-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* motto text */
#before-br, #after-br {
    font-size: 2em;
    font-weight: 700;
}

#before-br {
    color: #ffffff;
}

#after-br {
    --bg-size: 400%;
    --color-one: #f45925;
    --color-two: #f9b11f;
    background: linear-gradient(
        90deg, var(--color-one), var(--color-two), var(--color-one)) 
        0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    #after-br {
        animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}
/* motto text end */
