/* Styling for any element that appears on more than 1 page */

@import url("fonts.css");
@import url("color-scheme.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-family: "Fira Sans";
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.main-links a,
.section-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
  background: var(--accent-gradient-90dg);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s, color 0.3s;
  padding: 15px 0;
}

.main-links a:hover,
.main-links a:active,
.main-links a:focus,
.section-links a:hover,
.section-links a:active,
.section-links a:focus {
  background-size: 100% 3px;
  color: var(--tertiary-color);
}
/* navbar end */

h1 {
  background: var(--accent-gradient-90dg);
  background-size: 100% 3px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

p {
  line-height: 1.8em;
}

.nf {
  background: var(--accent-gradient-90dg);
  color: transparent;
  background-clip: text;
}

.img-container {
  width: 100vw;
  height: 50vh;
  margin-bottom: 20px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content {
  margin-top: 5vh;
  background-color: var(--primary-color);
  padding: 0 15% 5%;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.content-center {
  justify-content: center;
}

footer {
  padding: 30px;
  background-image: url("/assets/img/zaiskri-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* motto text */
#before-br,
#after-br {
  font-size: 2em;
  font-weight: 600;
}

#before-br {
  color: #ffffff;
}

#after-br {
  --bg-size: 400%;
  background: linear-gradient(
      90deg,
      var(--accent-color-1),
      var(--accent-color-2),
      var(--accent-color-1)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  #after-br {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
/* motto text end */

hr {
  color: var(--light-gray);
  width: 100%;
}

/* content animation */
@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-item.visible {
  animation: fadeInFromBottom 0.5s ease-out forwards;
}

.animated-item.h1-visible {
  animation: fadeInFromTop 0.5s ease-out forwards;
}
/* content animation end */
