/* news start page */

.news-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
}

.news-item {
  text-align: center;
  padding: 0;
  border: 10px solid var(--tertiary-color);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  padding: 90px;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
  margin: 10px;
}

.news-item:hover,
.news-item:active,
.gallery-container a img:hover,
.gallery-container a img:active{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  opacity: 0.75;
}

.news-item:nth-child(1) {
  background-image: url("/assets/img/novost1.jpg");
}

.news-item:nth-child(2) {
  background-image: url("/assets/img/novost2.jpg");
}

.news-item:nth-child(3) {
  background-image: url("/assets/img/novost3.jpg");
}

.news-container * {
  text-decoration: none;
  color: #ffffff;
  background-color: #00000055;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-container a img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 1px solid var(--tertiary-color);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
}

.video-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.video-container video {
  width: 70%;
  height: auto;
  border: 1px solid var(--tertiary-color);
  border-radius: 10px;
}

@media screen and (min-width: 1000px) {
  .video-container video {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .video-container video {
    width: 100%;
  }
}