@import "https://www.nerdfonts.com/assets/css/webfont.css";

@font-face {
    font-family: "Fira Sans";
    src: url(/assets/fonts/FiraSans-Regular.woff2);
}

@font-face {
    font-family: "Fira Mono";
    src: url(/assets/fonts/FiraMono-Regular.woff2);
}

html {
    scroll-behavior: smooth;
    font-family: "Fira Sans";
}

html, body {
    margin: 0;
    height: 100%;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #778899;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.main-links a, .section-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
}

.main-links a:hover, .section-links a:hover {
    color: #00ffff;
}
/* navbar end */

.content {
    background-color: #d87093;
    padding: 20px;
    min-height: calc(90vh - 15vh);
}

section {
    scroll-margin-top: 60px;
}

footer {
    height: 15vh;
    padding: 20px;
    background-image: url(/assets/img/zaiskri-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* motto text */
#before-br, #after-br {
    font-family: "Fira Mono";
    font-size: 2em;
    font-weight: 700;
}

#before-br {
    color: #ffffff;
}

#after-br {
    --bg-size: 400%;
    --color-one: #f45925;
    --color-two: #f9b11f;
    background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    #after-br {
        animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}
/* motto text end */

/* video background */
.video-background {
    position: relative;
    height: calc(100vh - 89px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.video-background p {
    font-size: 2em;
    z-index: 1;
    margin: 0;
}
/* video background end */

/* cursor */
.cursor {
    display: inline-block;
    width: 4px;
    height: 1.8em;
    background-color: #ffffff;
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
/* cursor end */

/* login form */
.login-form {
    padding: 10px;
    border-radius: 4px;
    background-color: #add8e6;
    box-shadow: 0 6px 8px 0 #00000033;
}
/* login form end */

#maps {
    width: 80vw;
    height: 50vh;
}
