<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nama</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
    <nav>
        <div class="main-links">
            <a href="/views/login.html"><i class="nf nf-oct-sign_in"></i> Prijava</a>
            <a href="/index.html"><i class="nf nf-oct-home"></i> Početna</a>
            <a href="/views/about.html"><i class="nf nf-oct-info"></i> O nama</a>
            <a href="/views/news.html"><i class="nf nf-oct-report"></i> Novosti</a>
            <a href="/views/curriculum.html"><i class="nf nf-oct-mortar_board"></i> Nastavni plan</a>
            <a href="/views/contact.html"><i class="nf nf-oct-mail"></i> Kontakt</a>
        </div>
        <div class="section-links">
            <a href="#our-values">Naše vrijednosti</a>
            <a href="#history">Povijest</a>
            <a href="#algebra-group">Algebra grupa</a>
            <a href="#find-us">Kako do nas?</a>
        </div>
    </nav>
    <div class="content">
        <div class="img-container">
            <img src="/assets/img/kampus-iz-zraka-min-1.jpg" loading="lazy">
        </div>
        <h1>O nama</h1>
        <section id="our-values">
            <h2><i class="nf nf-oct-zap"></i> Naše vrijednosti</h2>
            <p> 
                Obećajemo pomoć u pronalasku onoga što voliš
                raditi i da ćemo te poticati na izvrsnost -
                kvalitetom programa i procesa, strastvenim
                predavačima, globalno aplikabilnim znanjem te
                poticanjem kvalitete života.
            </p>
            <p>
                Postoje vrijednosti u koje vjerujemo od prvog
                dana, koje dijele naši predavači, ali i naši
                polaznici, bez obzira imaju li oni 7 ili 77
                godina. Pomno smo odabrali atribute koji su
                odraz tih naših vrijednosti i koji su ključni u
                kreiranju jasne i jedinstvene slike o našem
                brandu.
            </p>
            <div class="box-container">
                
            </div>
        </section>
        <section id="history">
            <h2><i class="nf nf-oct-history"></i> Povijest</h2>
            <p>
                Zajedno gradimo povijest Algebre. Počeli smo
                prije gotovo dvadeset godina i s tobom
                nastavljamo put prema novim uspjesima.
            </p>
            <p>
                Otvorili smo Algebra LAB, jedinstveni
                inovacijski centar koji pomaže tvrtkama, javnim
                službama i start-up projektima razviti
                inovativna poslovna rješenja koja će potaknuti
                konkurentnost gospodarstva. Investicijom od čak
                tri milijuna kuna, jedini u Hrvatskoj smo
                objedinili tri ključna elementa – odjel
                primijenjenog istraživanja i razvoja u
                digitalnom području, start-up inkubator s
                coworking prostorom te inovativnu edukacijsku
                platformu namijenjenu širenju najnaprednijih
                tehnoloških i poslovnih znanja. Algebra LAB novo
                je mjesto je za inovacije, kreacije, ideje i
                snove o budućnosti.
            </p>
            <div class="box-container">

            </div>
        </section>
        <section id="algebra-group">
            <h2><i class="nf nf-oct-people"></i> Algebra grupa</h2>
            <p>
                Algebra grupa je vodeći hrvatski i regionalni
                privatni obrazovni sustav prisutan u 30 gradova
                diljem Republike Hrvatske, s više od 120 stalno
                zaposlenih i više od 400 vanjskih suradnika.
            </p>
            <p>
                Kroz proteklih gotovo 20 godina rada, Algebra je
                postala najznačajniji regionalni edukacijski
                partner tvrtki Microsoft, Cisco, Adobe,
                Autodesk, ECDL, VMware, EC-Council i drugih. U
                obrazovanju odraslih školujemo oko 18.000
                polaznika seminara i programa obrazovanja
                godišnje, dok u visokom obrazovanju upisujemo
                svake godine više od 300 novih studenata.
                Kvalitetu poslovanja Algebre prepoznali su kako
                naši klijenti tako i svi značajniji proizvođači
                softvera, a dokazuje ga i implementirani ISO
                9001:2000 certifikat koji smo uveli još 2004.
                godine.
            </p>
        </section>
        <section id="find-us">
            <h2><i class="nf nf-oct-location"></i> Kako do nas?</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4414.7197031131955!2d15.937780599413218!3d45.809268986791224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d6d74e265877%3A0x1a4f4eae9fc461c5!2sAlgebra%20University!5e0!3m2!1sen!2shr!4v1730377422855!5m2!1sen!2shr" 
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="maps">
            </iframe>
        </section>
    </div>
    <footer>
        <p>
            <span id="before-br">Budi izvrstan u onome što voliš.</span><br>
            <span id="after-br">ZAISKRI.</span>
        </p>
    </footer>
</body>
</html>