<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nastavni plan</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/views/login.html"><i class="nf nf-oct-sign_in"></i> Prijava</a></li>
            <li><a href="/index.html"><i class="nf nf-oct-home"></i> Početna</a></li>
            <li><a href="/views/about.html"><i class="nf nf-oct-info"></i> O nama</a></li>
            <li><a href="/views/news.html"><i class="nf nf-oct-report"></i> Novosti</a></li>
            <li><a href="/views/curriculum.html"><i class="nf nf-oct-mortar_board"></i> Nastavni plan</a></li>
            <li><a href="/views/contact.html"><i class="nf nf-oct-mail"></i> Kontakt</a></li>
        </ul>
    </nav>
    <div class="content">

    </div>
    <footer>
        <p>
            <span class="motto-text" id="before-br">Budi izvrstan u onome što voliš.</span><br>
            <span class="motto-text" id="after-br">ZAISKRI.</span>
        </p>
    </footer>
</body>
</html>