<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nastavni plan</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <!-- jQuery and jQuery UI -->
    <link rel="stylesheet" href="/node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <!-- Bootstrap (To Be Added) -->
    
    <!-- Project Stylesheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/curriculum.css">
    <!-- Project JS -->
    <script src="/js/navbar.js" defer></script>
    <script src="/js/contact.js" defer></script>
    <script src="/js/animation-global.js" defer></script>
    <script src="/js/curriculum.js" defer></script>
    <script src="/js/footer.js" defer></script>
</head>
<body>
    <div class="content">
        <h1 class="animated-item">Nastavni plan</h1>
        <div class="curriculum-container animated-item">
            <div class="ui-widget">
                <label for="curriculum-list">Naziv kolegija:</label>
                <input type="text" id="curriculum-list" placeholder="Upišite naziv nekog kolegija...">
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Kolegij</th>
                            <th>ECTS</th>
                            <th>Sati</th>
                            <th>Predavanja</th>
                            <th>Vježbe</th>
                            <th>Tip</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Ukupno:</th>
                            <th data-label="ECTS" id="total-ects">0</th>
                            <th data-label="Sati" id="total-hours">0</th>
                            <th data-label="Predavanja" id="total-lectures">0</th>
                            <th data-label="Vježbe" id="total-exercises">0</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>