<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nastavni plan</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="/js/contact.js" defer></script>
</head>
<body>
    <nav>
        <div class="main-links">
            <a href="/views/login.html"><i class="nf nf-oct-sign_in"></i> Prijava</a>
            <a href="/index.html"><i class="nf nf-oct-home"></i> Početna</a>
            <a href="/views/about.html"><i class="nf nf-oct-info"></i> O nama</a>
            <a href="/views/news.html"><i class="nf nf-oct-report"></i> Novosti</a>
            <a href="/views/curriculum.html"><i class="nf nf-oct-mortar_board"></i> Nastavni plan</a>
            <a href="#contact"><i class="nf nf-oct-mail"></i> Kontakt</a>
        </div>
    </nav>
    <div class="content">
        <h1>Nastavni plan</h1>
    </div>
    <footer>
        <p>
            <span id="before-br">Budi izvrstan u onome što voliš.</span><br>
            <span id="after-br">ZAISKRI.</span>
        </p>
    </footer>
</body>
</html>