<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Početna stranica</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Prijavi se</a></li>
            <li><a href="">Početna</a></li>
            <li><a href="">O nama</a></li>
            <li><a href="">Novosti</a></li>
            <li><a href="">Nastavni plan</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
    </nav>
    <div class="content">
        text
    </div>
    <footer>
        <p>BUDI IZVRSTAN U ONOME ŠTO VOLIŠ.</p>
        <p>ZAISKRI.</p>
    </footer>
</body>
</html>