<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
    <!-- jQuery and jQuery UI -->
    <link rel="stylesheet" href="./node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <!-- Bootstrap (To Be Added) -->
    
    <!-- Project Stylesheets -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/login.css">
    <!-- Project JS -->
    <script src="./js/navbar.js" defer></script>
    <script src="./js/animation-global.js" defer></script>
    <script src="./js/contact.js" defer></script>
    <script src="./js/footer.js" defer></script>
    <script src="./js/auth.js" defer></script>
</head>
<body>
    <div class="content-wrapper">
        <div class="content content-center">
            <div class="login-form animated-item">
                <h2>PRIJAVA</h2>
                <form id="login-form">
                    <label for="username">Korisničko ime</label>
                    <input type="text" id="username" name="Username" autofocus>
                    <label for="password">Lozinka</label>
                    <input type="password" id="password" name="Password">
                    <button type="submit">Prijavi se</button>
                </form>
                <p>Nemaš račun? <a href="register.html">Registriraj se</a></p>
            </div>
        </div>
    </div>
</body>
</html>