<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
    <nav>
        <div class="main-links">
            <a href="/views/login.html"><i class="nf nf-oct-sign_in"></i> Prijava</a>
            <a href="/index.html"><i class="nf nf-oct-home"></i> Početna</a>
            <a href="/views/about.html"><i class="nf nf-oct-info"></i> O nama</a>
            <a href="/views/news.html"><i class="nf nf-oct-report"></i> Novosti</a>
            <a href="/views/curriculum.html"><i class="nf nf-oct-mortar_board"></i> Nastavni plan</a>
            <a href="/views/contact.html"><i class="nf nf-oct-mail"></i> Kontakt</a>
        </div>
    </nav>
    <div class="content">
        <div class="login-form">
            <h2>PRIJAVA KORISNIKA</h2>
            <form action="">
                <label for="username">Korisničko ime</label>
                <input type="text" id="username" required>
                <label for="password">Lozinka</label>
                <input type="text" id="password" required>
                <input type="submit" value="Prijavi se">
            </form>
            <p>Nemaš račun? <a href="register.html">Registriraj se</a></p>
        </div>
    </div>
    <footer>
        <p>
            <span id="before-br">Budi izvrstan u onome što voliš.</span><br>
            <span id="after-br">ZAISKRI.</span>
        </p>
    </footer>
</body>
</html>