<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novosti</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <!-- jQuery and jQuery UI -->
    <link rel="stylesheet" href="/node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <!-- Bootstrap (To Be Added) -->
    
    <!-- Project Stylesheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/news.css">
    <!-- Project JS -->
    <script src="/js/navbar.js" defer></script>
    <script src="/js/animation-global.js" defer></script>
    <script src="/js/contact.js" defer></script>
    <script src="/js/footer.js" defer></script>
</head>
<body>
    <div class="content">
        <h1 class="animated-item">Novosti</h1>
        <div class="news-container animated-item">
            <a href="/views/news/news-1.html" class="news-item">
                <h3>Novost 1</h3>
                <p>
                    Nakon godinu dana priprema za natjecanje WorldSkills
                    Kazan 2019 na kojem je sudjelovalo 1300 natjecatelja iz
                    cijelog svijeta, trud se itekako isplatio...
                </p>
            </a>
            <a href="/views/news/news-2.html" class="news-item">
                <h3>Novost 2</h3>
                <p>
                    Nakon velikog broja prijava koje smo primili, detaljnom
                    analizom i provjerom utvrdili smo dobitnike ovogodišnjeg
                    stipendijskog natječaja za maturante...
                </p>
            </a>
            <a href="/views/news/news-3.html" class="news-item">
                <h3>Novost 3</h3>
                <p>
                    Algebra Junior organizira edukativne i zabavne ljetne
                    praznike za sve osnovnoškolce! I ove smo godine
                    pripremili...
                </p>
            </a>
        </div>
    </div>
</body>
</html>