<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <!-- jQuery and jQuery UI -->
    <link rel="stylesheet" href="/node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <!-- Bootstrap (To Be Added) -->
    
    <!-- Project Stylesheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <!-- Project JS -->
    <script src="/js/contact.js" defer></script>
    <script src="/js/animation-global.js" defer></script>
    <script src="/js/auth.js" defer></script>
</head>
<body>
    <nav>
        <div class="main-links">
            <a href="/views/login.html"><i class="nf nf-oct-sign_in"></i> Prijava</a>
            <a href="/index.html"><i class="nf nf-oct-home"></i> Početna</a>
            <a href="/views/about.html"><i class="nf nf-oct-info"></i> O nama</a>
            <a href="/views/news.html"><i class="nf nf-oct-report"></i> Novosti</a>
            <a href="/views/curriculum.html"><i class="nf nf-oct-mortar_board"></i> Nastavni plan</a>
            <a href="#" id="contact"><i class="nf nf-oct-mail"></i> Kontakt</a>
        </div>
    </nav>
    <div class="content content-center">
        <div class="login-form animated-item">
            <h2>REGISTRACIJA</h2>
            <form id="register-form">
                <label for="username">Korisničko ime</label>
                <input type="text" id="username" name="Username" required>
                <label for="password">Lozinka</label>
                <input type="password" id="password" name="Password" required>
                <label for="repeat-password">Ponovljena Lozinka</label>
                <input type="password" id="repeat-password" name="RepeatPassword" required>
                <button type="submit">Registriraj se</button>
            </form>
            <p>Imaš račun? <a href="login.html">Prijavi se</a></p>
        </div>
    </div>
    <footer>
        <p>
            <span id="before-br">Budi izvrstan u onome što voliš.</span><br>
            <span id="after-br">ZAISKRI.</span>
        </p>
    </footer>
</body>
</html>