<div id="popup-container">
    <form id="popup-form-content" action="https://www.fulek.com/mvc/supit/project-contact-form" method="post">
        <label for="fullName">Puno ime:</label>
        <input type="text" id="fullName" name="FullName" autofocus>
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email">
        <label for="importance">Važnost poruke:</label>
        <select id="importance" name="Importance">
            <option value="low" default>Niska</option>
            <option value="medium">Srednja</option>
            <option value="high">Visoka</option>
        </select>
        <label for="message">Poruka:</label>
        <textarea id="message" name="Message"></textarea>
        <label for="receiveNewsletter">Želim primati obavijesti</label>
        <input type="checkbox" id="receiveNewsletter" name="ReceiveNewsletter" value="true">
    </form>
</div>
