<nav>
    <button class="hamburger" aria-label="Toggle navigation">
        <i class="nf nf-oct-three_bars open-icon"></i>
        <i class="nf nf-oct-x close-icon"></i>
    </button>
    <div class="main-links">
        <a href="../views/login.html" id="login"><i class="nf nf-oct-sign_in"></i> Prijava</a>
        <a href="../index.html"><i class="nf nf-oct-home"></i> Početna</a>
        <a href="../views/about.html"><i class="nf nf-oct-info"></i> O nama</a>
        <a href="../views/news.html"><i class="nf nf-oct-report"></i> Novosti</a>
        <a href="#" id="contact"><i class="nf nf-oct-mail"></i> Kontakt</a>
    </div>
</nav>