<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novost 3</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <!-- jQuery and jQuery UI -->
    <link rel="stylesheet" href="/node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <!-- Bootstrap (To Be Added) -->
    
    <!-- Project Stylesheets -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Project JS -->
    <script src="/js/contact.js" defer></script>
    <script src="/js/animation-global.js" defer></script>
</head>
<body>
    <nav>
        <div class="main-links">
            <a href="/views/login.html"><i class="nf nf-oct-sign_in"></i> Prijava</a>
            <a href="/index.html"><i class="nf nf-oct-home"></i> Početna</a>
            <a href="/views/about.html"><i class="nf nf-oct-info"></i> O nama</a>
            <a href="/views/news.html"><i class="nf nf-oct-report"></i> Novosti</a>
            <a href="/views/curriculum.html"><i class="nf nf-oct-mortar_board"></i> Nastavni plan</a>
            <a href="#contact"><i class="nf nf-oct-mail"></i> Kontakt</a>
        </div>
    </nav>
    <div class="content">
        <div class="img-container">
            <img class="animated-item" src="/assets/img/novost3.jpg">
        </div>
        <h1 class="animated-item">Digitalno Junior ljeto</h1>
        <p>
            Algebra Junior organizira edukativne i zabavne ljetne
            praznike za sve osnovnoškolce! I ove smo godine
            pripremili digitalne radionice za djecu čiji je fokus
            rješavanja raznih problema korištenjem tehnologije,
            multimedije, digitalnog dizajna i komunikacija te
            stvaranju sadržaja u svim multimedijskim i softverskim
            oblicima. Radionice se održavaju u sklopu Digitalnog
            ljetnog kampa u Crikvenici i Digitalne ljetne škole u
            Zagrebu kako bismo se družili, zabavljali i učili i na
            moru i na kontinentu! Na digitalnom kampu i u školi
            provodit će se dva različita programa koji su
            namijenjena djeci od 1. do 8. razreda. Ovisno o
            odabranom terminu, polaznici će prolaziti kroz 1. ili 2.
            program, a u slučaju pohađanja dvotjednih programa –
            oba. U prvom programu nađe nindže uče biti glazbeni
            menadžeri dok su u drugom novinari i kreatori
            informacija masovnih medija. Provjerite termine, cijene
            i lokacije škole i kampa na sljedećem linku.
        </p>
    </div>
    <footer>
        <p>
            <span id="before-br">Budi izvrstan u onome što voliš.</span><br>
            <span id="after-br">ZAISKRI.</span>
        </p>
    </footer>
</body>
</html>