<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novost 1</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <!-- jQuery and jQuery UI -->
    <link rel="stylesheet" href="/node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <!-- Fancybox -->
    <link rel="stylesheet" href="/node_modules/@fancyapps/ui/dist/fancybox/fancybox.css">
    <script src="/node_modules/@fancyapps/ui/dist/fancybox/fancybox.umd.js"></script>
    <!-- Project Stylesheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/news.css">
    <!-- Project JS -->
    <script src="/js/navbar.js" defer></script>
    <script src="/js/animation-global.js" defer></script>
    <script src="/js/contact.js" defer></script>
    <script src="/js/footer.js" defer></script>
</head>
<body>
    <div class="content-wrapper">
        <div class="content">
            <div class="img-container">
                <img class="animated-item" src="/assets/img/novost1.jpg">
            </div>
            <h1 class="animated-item">WorldSkills natjecanje - Kazan 2019.</h1>
            <p>
                Nakon godinu dana priprema za natjecanje WorldSkills
                Kazan 2019 na kojem je sudjelovalo 1300 natjecatelja iz
                cijelog svijeta, trud se itekako isplatio. Josip,
                student 3. godine preddiplomskog studija sistemskog
                inženjerstva osvojio je 12. mjesto u vještini IT
                Networks and System Administration te osvojio medalju
                izvrsnosti! Čestitke Josipu ali i njegovim/našim
                mentorima koji su ga pripremali za ovo natjecanje –
                voditelju studija sistemskog inženjerstva Silviju
                Papiću, voditelju katedre za operacijske sustave –
                Vedranu Dakiću i asistentu na studiju sistemskog
                inženjerstva – Jasminu Redžepagiću. Čestitke i našem
                studentu 3.godine preddiplomskog studija programskog
                inženjerstva Josipu Horvatu i mentoru voditelju katedre
                za programsko inženjerstvo - Goranu Đambiću na osvojenom
                16.mjestu u vještini IT Software Solutions for Business.
            </p>
            <div class="gallery-container">
                <script>Fancybox.bind('[data-fancybox]')</script>
                <a href="/assets/img/galerija1.jpg" data-fancybox="gallery">
                    <img src="/assets/img/galerija1.jpg" alt="img 1">
                </a>
                <a href="/assets/img/galerija2.jpg" data-fancybox="gallery">
                    <img src="/assets/img/galerija2.jpg" alt="img 2">
                </a>
            </div>
            <div class="video-container">
                <video controls>
                    <source src="/assets/video/worldskills.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</body>
</html>
