<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novost 1</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/node_modules/jquery-ui/dist/themes/base/jquery-ui.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="/js/contact.js" defer></script>
</head>
<body>
    <nav>
        <div class="main-links">
            <a href="/views/login.html"><i class="nf nf-oct-sign_in"></i> Prijava</a>
            <a href="/index.html"><i class="nf nf-oct-home"></i> Početna</a>
            <a href="/views/about.html"><i class="nf nf-oct-info"></i> O nama</a>
            <a href="/views/news.html"><i class="nf nf-oct-report"></i> Novosti</a>
            <a href="/views/curriculum.html"><i class="nf nf-oct-mortar_board"></i> Nastavni plan</a>
            <a href="#contact"><i class="nf nf-oct-mail"></i> Kontakt</a>
        </div>
    </nav>
    <div class="content">
        <div class="img-container">
            <img src="/assets/img/novost1.jpg" loading="lazy">
        </div>
        <h1>WorldSkills natjecanje - Kazan 2019.</h1>
        <p>
            Nakon godinu dana priprema za natjecanje WorldSkills
            Kazan 2019 na kojem je sudjelovalo 1300 natjecatelja iz
            cijelog svijeta, trud se itekako isplatio. Josip,
            student 3. godine preddiplomskog studija sistemskog
            inženjerstva osvojio je 12. mjesto u vještini IT
            Networks and System Administration te osvojio medalju
            izvrsnosti! Čestitke Josipu ali i njegovim/našim
            mentorima koji su ga pripremali za ovo natjecanje –
            voditelju studija sistemskog inženjerstva Silviju
            Papiću, voditelju katedre za operacijske sustave –
            Vedranu Dakiću i asistentu na studiju sistemskog
            inženjerstva – Jasminu Redžepagiću. Čestitke i našem
            studentu 3.godine preddiplomskog studija programskog
            inženjerstva Josipu Horvatu i mentoru voditelju katedre
            za programsko inženjerstvo - Goranu Đambiću na osvojenom
            16.mjestu u vještini IT Software Solutions for Business.
        </p>
    </div>
    <footer>
        <p>
            <span id="before-br">Budi izvrstan u onome što voliš.</span><br>
            <span id="after-br">ZAISKRI.</span>
        </p>
    </footer>
</body>
</html>